{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Welcome to Symfoniac</h1>
        <p class="lead">

            {{ render(controller("SymfoniacNewsletterBundle\\Controller\\NewsletterController::recentRecipes")) }}

        </p>
    </div>
{% endblock %}