{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table>
        <tr>
            <th>Recipe Name</th>
            <th>Duration (in minutes)</th>
            <th>Description</th>
        </tr>
    {% for recipeTranslation in recipeTranslations %}
        {% for recipes in recipeTranslation %}
            <tr>
                <td><a href="/recipe/get/{{ recipes.recipeID.id}}">
                        {{ recipes.name }}</a></td>
                <td>{{ recipes.duration }}</td>
                <td>{{ recipes.description }}</td>
            </tr>


        {% endfor %}
    {% endfor %}
    </table>
</div>
{% endblock %}
