<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>

<ul>
    {% for recipe in recipes%}
        <li>{{ recipe.name }}</li>
    {% else %}
        <li>No recipes found</li>
    {% endfor %}
</ul>
{% transchoice count %}
    {0} There are no apples|{1} There is one apple|]1,Inf[ There are %count% apples
{% endtranschoice %}

</body>
</html>