<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% for recipe in recipes%}
        <li>{{ recipe.name }}</li>
    {% else %}
        <li>No recipes found</li>
    {% endfor %}
</ul>

    <title>Recipes</title>

</body>
</html>