{% extends 'base.html.twig' %}
{% block title %}Add Recipe{% endblock %}

{% block body %}
    <script src="../js/jquery.collection.js"></script>
    <div>
        {{ form(recipe_form) }}

        {% form_theme recipe_form
            'jquery.collection.html.twig'
            'buttonTemplate.html.twig'
        %}
        {{ form(recipe_form) }}

    </div>

    <script type="text/javascript">
        $('.setIngredient-collection').collection();
    </script>
{% endblock %}